body {
    background: linear-gradient(-45deg, #f2bd76, #f4f5de);
    background-size: 400% 400%;
    animation: choras 15s ease infinite;
    min-height: 100vh;
}

@keyframes choras {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}